{% extends 'main/main_page.html' %}

{% load static %}

{% block title %}Добавить товар{% endblock title %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_clothes.css' %}">
{% endblock link %}

{% block content %}

<div id="scroll_table_form">
<table id='clothes_table_form' border="1" align="center" bgcolor="white" cellspacing="50" width="100%" bordercolor="black">
    <caption><strong><h1>Добавление товара</h1></strong></caption>
    <tr><td><form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <h2><span>{{ error }}</span></h2>
        <p>{{ form.image }}</p>
        <p>{{ form.name }}</p>
        <p>{{ form.contacts }}</p>
        <p>{{ form.sex }}</p>
        <p>{{ form.cost }}</p>
        <p>{{ form.seasons }}</p>
        <p>{{ form.url }}</p>
        <p>{{ form.size }}</p>
        <p>{{ form.availability }}</p>
       <p><button type="reset">Сбросить</button></p>
        <p><input type="submit" value="отправить"></p>
</form></td></tr>
</table>
</div>
{% endblock content %}